/* Chatbox.css */
.chatbox {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 5px;
}

.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.user-message {
  align-self: flex-end;
  background-color: #717374;
  color: white;
}

.ai-message {
  align-self: flex-start;
  background-color: #000000;
}

/* Chatbox.css */
.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative; /* Add this line */
}

.message-input {
  display: flex;
  margin-top: 5px;
  position: sticky;
  bottom: 0; /* Stick the input box to the bottom */
  background-color: white; /* Set a background color to separate the input box from the messages */
  padding: 5px; /* Add some padding for better visual appearance */
}

.message-input input {
  flex: 1;
  padding: 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input button {
  padding: 5px 10px;
  border: none;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* Style for dropdown list */
input[list] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

input[list] option {
  padding: 5px;
}

/* Style for dropdown list */
.autocomplete {
  position: bottom;
  width: 100%;
}

.autocomplete input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.autocomplete .autocomplete-options {
  position: absolute;
  width: 100%;
  top: 100%; /* Position the dropdown list below the input box */
  max-height: 100px; /* Adjust height as needed */
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.autocomplete .autocomplete-options option {
  padding: 5px;
  cursor: pointer;
}





